* {
  box-sizing: border-box;
  border: thin solid black;
}

html,body { margin: 0; height: 100%; border: thin solid red;
}

#left-side {
  width: 25%;
  float: left;
  height: 100%;
  background-color: #687370;

}

#outside {
  width: 75%;
  float: left;
  height: 100%;
}

#inside {
  height: 75%;
}
#top {
  height: 25%;
  background-color: #687370;

}

#right{
  float: right;
  height: 100%;
  width: 30%;
}

#content{
  float: left;
  width: 70%;
  height: 100%;
}

#content-right{
  width: 50%;
  height: 75%;
  float: right;
}

#content-left{
  width: 50%;
  height: 75%;

}

#content-bottom{
  height: 25%;
}
